@model List<ProductListView>

<div class="fancy-collapse-panel">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var c in Model)
        {
            if (c.Product.Count() > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#@c.CategoryName" aria-expanded="true" aria-controls="collapseOne">
                                @c.CategoryName
                            </a>
                        </h4>
                    </div>
                    <div id="@c.CategoryName" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul>
                                @foreach (var p in c.Product)
                                {
                                    <li>@Html.ActionLink(p.ProductName, "Index", new { pid = p.ProductID }, null)</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

