
<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2019 DotrA
            </div>
            <div class="col-sm-6 text-right">
                Designed by @Html.ActionLink("DotrA", "index", "Home", new { area = string.Empty }, new { @class = "icon-off" })
            </div>
        </div>
    </div>
</footer>