@{
    //取得當前購物車所有內容
    var currentCart = DotrA.Models.Cart.Operation.GetCurrentCart();
}

<a id="CartDropDown" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="icon-shopping_cart">購物車</span>
</a>
<div class="dropdown-menu" role="menu" aria-labelledby="CartDropDown" style="width:auto">
    @if (currentCart.Count > 0)
    {
        foreach (var cartitem in currentCart)
        {
            <div>
                <a class="dropdown-item">
                    <div class="col-3">@cartitem.ProductName  @cartitem.Quantity 個 <span onclick="RemoveFromCart('@cartitem.ProductId')">&times;</span></div>
                </a>
            </div>

        }
        <div class="container">
            <a class="dropdown-item">
                <div class="row">
                    <div class="col-6">
                        <botton onclick="location.href='@Url.Action("Index","Order")'"><span>結帳去</span></botton>
                    </div>
                    <div class="col-6">
                        <botton onclick="ClearCart()"><span>清空</span></botton>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <a class="dropdown-item" href="#">購物車無任何商品</a>
    }
</div>