<section class="ftco-gallery">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="../../Assets/images/gallery-7.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../Assets/images/footer/gallery-1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="../../Assets/images/gallery-8.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../Assets/images/footer/gallery-2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="../../Assets/images/gallery-9.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../Assets/images/footer/gallery-3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="../../Assets/images/gallery-10.png" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../Assets/images/footer/gallery-4.png);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="../../Assets/images/gallery-11.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../Assets/images/footer/gallery-5.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="../../Assets/images/gallery-12.png" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../Assets/images/footer/gallery-6.png);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>